*{
	margin:0;
	padding:0;

}
.container
{
	width:80%;
	margin:auto;
	overflow:visible; 
}
 
body
{
	background-color: lightgrey;
	margin:0;
	justify-content: center;
}

#header
{
	background-color: coral;
	color:#fff;
	text-align: center;
}
h1
{
	margin:0;
	padding: 10px;
	text-align: center;
	font-size: 32px;
	color:#fff;
}
h2{
	margin:0;
	padding: 10px;
	text-align: left;
	font-size: 32px;
	color:black;
}
p
{
	margin:0;
	padding: 10px;
	text-align: left;
	font-size: 16px
	color:grey;
}
#bar
{
	text-align: right;
	background-color: red;
	overflow: hidden;
	width: 100%;
	position: sticky;
	top:0;
}

#bar ul
{
	padding:0;
	list-style: none;
}

#bar li
{
	display:inline-block;
	line-height: 50px;
}

#bar a 
{
	display:block;
  	padding:0 15px;
  	color:white;
  	font-size: 18px;
  	text-decoration: none
  
}

.login
{
	width: 500px;
	height:400px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 100px;
	margin-bottom: 100px;
}
input[type="text"],input[type="password"]
{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}


.btn
{
	padding: 15px 25px;
	border: none;
	background-color: #5AD9E0;
	color: #fff;
	font: bold 18px serif;
}

.image 
{
	padding: 10px ;
  	margin: 10px;
  	border: 1px solid #ccc;
  	float: left;
	width:450px;
	background-color: lightgreen;
}
.image:hover 
{
   box-shadow: 0 0 2px 1px red;
   
}

.image img
{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.disc
{
	/*white-space: nowrap; 
	text-overflow:ellipsis;
	overflow: hidden;*/
	width: 100%;
	height:30px;
	padding: 10px 0;
	text-align: center;
	font: bold 18px serif;
	background-color:#594848;
	color:white;
}

.productf
{
	width: 550px;
	height:450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 100px;
	margin-bottom: 100px;
	font:bold 14px sherif;
}

#t1 table 
{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

}

#t1 th
{

  border: 1px solid #999;
  padding: 0.5rem;
  text-align:center;
  background-color: coral;

}
#t1 td
{
	border: 1px solid #999;
  	padding: 0.5rem;
  	text-align: left;
  	background-color:lightgreen;
}
#t1 td img
{
	width: 100%;
  	height: 80px;
  	object-fit: contain;
}

.name span 
{
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.name p 
{
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
   cursor: pointer;
}
.price 
{
  display: flex;
   align-items: center;
}

.price span 
{
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
   cursor: pointer;
}



.modal {
  display: none; 
  position: fixed; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 

}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color:red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 600px;
	padding: 10px;

}

#featured
{	
	margin-top: 100px;
	width: 600px;
	height: 500px;
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid green;

}
#featured:hover
{
	box-shadow: 0 0 2px 1px red;
}

.thumbnail
{
	object-fit: cover;
	width: 150px;
	height: 150px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover
{
	opacity:1;
}

.active
{
	opacity: 1;
}

#slide-wrapper
{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider
{
	width: 500px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.arrow
{
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
	transition: .3s ease;
	 border-radius: 3px 0 0 3px;
}

.arrow:hover{
	opacity: 0.5;
	width: 30px;
	height: 30px;
	background-color: rgba(0,0,0,0.8);
}


